/* TO BE DELETED – START */

.tile {
  border: 1px solid white;
  color: white;
  opacity: 30%;
  font-size: 8px;
}

body {
  background-color: rgb(244, 202, 202);
}

/* #gameMaze {
  background-image: url(/img/PacMan_Maze_224w248h.png);
  background-repeat: no-repeat;
  background-size: 100%;
} */

/* TO BE DELETED – END */

html {
  --mazeWidth: 448px;
  --mazeHeight: 496px;
  --mazeTileWidth: 16px;
  --mazeTileHeight: 16px;
  --imgCoverWidth: 800px;
  --imgCoverHeight: 600px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

/* FLEX CONTIANERS */

main,
#game,
#gameCover,
#gameInfo2 {
  display: flex;
  flex-direction: column;
}

#gameMaze {
  display: flex;
  flex-wrap: wrap;
}

main,
#game {
  justify-content: center;
}

#gameInfo2,
#gameCover {
  justify-content: space-between;
}

#game {
  align-items: center;
}

/* FLEX ITEMS */

#instruct,
#leader {
  order: 1;
}

/* HEADER */

h1 {
  /* padding: 1em 0; */
}

/* ACTORS */
/* background-position: <pixels shifted right>px <pixels shifted down>px; */

.pac,
.gh1,
.gh2,
.gh3,
.gh4 {
  background: url(/img/pacman_sprites.png);
  width: calc(var(--mazeTileWidth)*2);
  height: calc(var(--mazeTileHeight)*2);
  /* padding-left: 8px;
  padding-top: 8px;
  margin-left: -8px;
  margin-top: -8px; */
}

.pac {
  background-position: 0 0;
}

.gh1 {
  background-position: 0 -var(--mazeTileWidth);
}

.gh2 {
  background-position: 0 calc(var(--mazeTileWidth) * -2);
}

.gh3 {
  background-position: 0 calc(var(--mazeTileWidth) * -3);
}

.gh4 {
  background-position: 0 calc(var(--mazeTileWidth) * -4);
}

/* GAME AREA */

#game,
#gameCover {
  min-width: var(--mazeWidth);
  height: var(--imgCoverHeight);
}

#gameCover,
#gameInfo1,
#gameInfo2 {
  width: 100%;
  max-width: var(--imgCoverWidth);
}

#gameMaze {
  width: var(--mazeWidth);
  height: var(--mazeHeight);
}


/* GAME AREA: start and end of game */

.tile {
  box-sizing: border-box;
  width: var(--mazeTileWidth);
  height: var(--mazeTileHeight);
}

#gameCover {
  background-image: url(/img/game-start_800w600h.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute
}

#imgCoverHeadline {
  margin: calc(var(--imgCoverHeight)/4) 0;
  text-align: center;
}

#start {
  margin: calc(var(--imgCoverHeight)/4) auto;
  width: calc(var(--mazeWidth)/2);

}

/* GAME AREA: during game */

/* #life, #level {} */

/* SIDE PANELS */

details>summary {
  background-color: white;
  cursor: pointer;
  padding: 1em;
  text-align: left;
  /* border: none; */
  /* outline: none; */
  /* transition: 0.4s; */
}

details>div {
  padding: 1em;
  text-align: left;
}

/* MEDIUM-WIDE SCREENS */

/* @media screen and (min-width: 449px) and (max-width: 1199px) { */
@media screen and (min-width: 449px) {

  #gameInfo1,
  #gameInfo2 {
    flex-direction: row;
  }

  #life {
    order: 1;
    flex-basis: var(--mazeWidth);
  }

  #levelIcons {
    order: 2;
  }

  #level,
  #levelIcons {
    /* width: calc((var(--imgCoverWidth)-var(--mazeWidth))/2); */
    width: 176px;
  }

}

/* WIDER SCREENS */

@media screen and (min-width: 1200px) {


  /* FLEX CONTIANERS */

  main {
    display: flex;
    flex-direction: row;
  }

  /* FLEX ITEMS */

  #instruct,
  #leader {
    order: 0;
  }

  /* PAGE ELEMENTS */

  #game {
    width: var(--imgCoverWidth);
    height: var(--imgCoverHeight);
  }

  #imgCover {
    left: 0;
  }

  #instruct,
  #leader {
    min-width: 200px;
    height: var(--imgCoverHeight);
  }

}