/* TO BE DELETED – START */

.tile {
  /* border: 1px solid rgba(255, 255, 255, 0.4); */
  color: rgba(255, 255, 255, 0.2);
  /* opacity: 30%; */
  font-size: 8px;

  /* align-items: center; */
}

body {
  background-color: rgb(244, 202, 202);
}

#gameMaze {
  background-image: url(/img/PacMan_Maze_464w496h.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* TO BE DELETED – END */

html {
  /* 29 tile width x 16px –– Also update value in media query screen width */
  --mazeWidth: 464px;
  /* 31 tile height x 16px */
  --mazeHeight: 496px;
  --mazeTileWidth: 16px;
  --mazeTileHeight: 16px;
  --imgCoverWidth: 800px;
  --imgCoverHeight: 600px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

/* FLEX CONTIANERS */

main,
#game,
#gameCover,
#gameInfo2 {
  display: flex;
  flex-direction: column;
}

#gameMaze {
  display: flex;
  flex-wrap: wrap;
}

main,
#game {
  justify-content: center;
}

#gameInfo2,
#gameCover {
  justify-content: space-between;
}

#game {
  align-items: center;
}

/* FLEX ITEMS */

#instruct,
#leader {
  order: 1;
}

/* HEADER */

h1 {
  /* padding: 1em 0; */
}

/* ACTORS */
/* background-position: <pixels shifted right>px <pixels shifted down>px; */

.path, .ghostHQ {
  /* switch this on for position check only */
  /* background-color: rgba(161, 194, 87, 0.7); */
}
.junction {
    /* switch this on for position check only */
  /* background-color: rgba(244, 76, 24, 0.7); */
}

/* .dot, */
.pow,
/* .pac, */
.gh1,
.gh2,
.gh3,
.gh4 {
  /* background: url(/img/pacman_sprites_16px.svg); */
  /* background-size: 600%; */
  
  /* background: url(/img/pacman_sprites_7w4h_16px.gif);
  background-size: 700%; */
  background: url(/img/pacman_sprites_5w4h_16px_@2x.gif);
  background-size: 500%;
}
.pac {
background: url(/img/pacman_sprites-pac_1w4h_16px_2x.gif);
background-size: 100%;
}

.pac,
.gh1,
.gh2,
.gh3,
.gh4 {
  scale: 1.5;
}

.dot {
  /* background-position: 0 calc(var(--mazeTileWidth) * -6); */
  /* background: url('data:image/svg+xml;utf8,<svg ...> ... </svg>') */
  /* background: url(data:image/svg+xml;utf8,<svg id="dot1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><rect x="10" y="10" width="4" height="4" fill="#ffb7ae" stroke-width="0"/></svg>); */
background: url(/img/dot1_16px.svg);
}
.pow {
  background-position: calc(var(--mazeTileWidth) * -4) calc(var(--mazeTileWidth) * -3);
    /* background: url('data:image/svg+xml;utf8,<svg id="pow1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><polygon points="24 9 23 9 23 6 22 6 22 5 21 5 21 4 20 4 20 3 19 3 19 2 18 2 18 1 15 1 15 0 9 0 9 1 6 1 6 2 5 2 5 3 4 3 4 4 3 4 3 5 2 5 2 6 1 6 1 9 0 9 0 15 1 15 1 18 2 18 2 19 3 19 3 20 4 20 4 21 5 21 5 22 6 22 6 23 9 23 9 24 15 24 15 23 18 23 18 22 19 22 19 21 20 21 20 20 21 20 21 19 22 19 22 18 23 18 23 15 24 15 24 9" fill="#ffb7ae" stroke-width="0"/></svg>'); */
    /* background: url(/img/pow1_16px.svg); */
  }
.gh1 {
  background-position: calc(var(--mazeTileWidth) * -1) calc(var(--mazeTileWidth) * -1);
}
.gh2 {
  background-position: calc(var(--mazeTileWidth) * -2) calc(var(--mazeTileWidth) * -1);
}
.gh3 {
  background-position: calc(var(--mazeTileWidth) * -3) calc(var(--mazeTileWidth) * -1);
}
.gh4 {
  background-position: calc(var(--mazeTileWidth) * -4) calc(var(--mazeTileWidth) * -1);
}
.pac {
  background-position: calc(var(--mazeTileWidth) * -1) calc(var(--mazeTileWidth) * -2);
  
}

/* GAME AREA */

#game,
#gameCover {
  min-width: var(--mazeWidth);
  height: var(--imgCoverHeight);
}

#gameCover,
#gameInfo1,
#gameInfo2 {
  width: 100%;
  max-width: var(--imgCoverWidth);
}

#gameMaze {
  width: var(--mazeWidth);
  height: var(--mazeHeight);
}


/* GAME AREA: start and end of game */

.tile {
  box-sizing: border-box;
  width: var(--mazeTileWidth);
  height: var(--mazeTileHeight);
  display: flex;
}

#gameCover {
  /* background-image: url(/img/game-start_800w600h.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute
}

#imgCoverHeadline {
  margin: calc(var(--imgCoverHeight)/4) 0;
  text-align: center;
}

#start {
  margin: calc(var(--imgCoverHeight)/4) auto;
  width: calc(var(--mazeWidth)/2);

}

/* GAME AREA: during game */

#score::before {
  /* content: 'Score: '; */
}

.levelNow::before {
  content: 'Level: ';
}

.maze-alert {
  color: yellow;
  scale: 220%;
  padding-top: 0.3em;
}

/* SIDE PANELS */

details>summary {
  background-color: white;
  cursor: pointer;
  padding: 1em;
  text-align: left;
  /* border: none; */
  /* outline: none; */
  /* transition: 0.4s; */
}

details>div {
  padding: 1em;
  text-align: left;
}

/* MEDIUM-WIDE SCREENS */

/* @media screen and (min-width: 464px) and (max-width: 1199px) { */
@media screen and (min-width: 464px) {

  #gameInfo1,
  #gameInfo2 {
    flex-direction: row;
  }

  #life {
    order: 1;
    flex-basis: var(--mazeWidth);
  }

  #levelIcons {
    order: 2;
  }

  #level,
  #levelIcons {
    /* width: calc((var(--imgCoverWidth)-var(--mazeWidth))/2); */
    width: 176px;
  }

}

/* EASTER EGG */

@media screen and (min-width: 1980px) and (max-width: 1980px) {
  body {
    background-color: yellow;
  }

  #game {
    rotate: 20deg;
  }
}

/* WIDER SCREENS */

@media screen and (min-width: 1200px) {

  /* FLEX CONTIANERS */

  main {
    display: flex;
    flex-direction: row;
  }

  /* FLEX ITEMS */

  #instruct,
  #leader {
    order: 0;
  }

  /* PAGE ELEMENTS */

  #game {
    width: var(--imgCoverWidth);
    height: var(--imgCoverHeight);
  }

  #imgCover {
    left: 0;
  }

  #instruct,
  #leader {
    min-width: 200px;
    height: var(--imgCoverHeight);
  }

}